.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 100px;
}

.left-container{
    width: 70%;

}
.img-container{
    width: 100%;
    min-height: 450px;
    background-image: url(../assets/images/image-web-3-desktop.jpg);
    background-size: cover;
}

.beneath-img {
    display: flex;
    justify-content: center;
}

.bold {
    font-size: 2em;
    font-weight: 750;
}

.statement {
    width: 45%;
}

.left-container-paragraph {
    color: #83818d;
}

.paragraph {
    width: 45%;
}

.right-container{
    width: 30%;
    min-height: 20vh;
    background-color: #00001a;
}

h1 {
    color: #eeb35e;
}

.right-container-heading {
    color: #f5f5f7;
}

.right-container-paragraph {
    color: #b1b2c8;
}